.emp{
  font-size:20px;
  font-weight: bold;
  margin-bottom:20px;
  color: rgb(41, 104, 175);
}

.container{
  display: flex;
  padding: 1rem;
  flex-direction: column;
  
}

table{
  width: 70%;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
 
}

th, td{
  border: 2px solid black;
  text-align: auto;
  padding:4px;
}

th{
  background-color:rgb(111, 178, 218);
}

td{
  background-color: rgb(163, 199, 228);
}

h2{
  font-size:20px;
  font-weight: bold;
  margin-bottom:20px;
  color: rgb(27, 93, 168);
}

form{
  display:flex;
  gap:5px;
  justify-content:center;
}

form td:last-child{
  display: flex;
  justify-content:space-evenly;
  
}

form *{
  font-size:16px;
  
}